.demo{
    display: flex;
    flex-direction: row;
  
}
.sideBar{
  margin-left: 5em;  
  padding: 1em;
  position: fixed;
}
.fixedSidebar{
  position: sticky;
}
.tweetFeed{
  margin-left: 28%;
}
.searchBarNdFollowSection{
 width: 28rem; 
 
 margin-left: 1em;
 gap: 1em;
}


